<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="blogs content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, quis labore? Voluptatum commodi nulla eligendi ab aperiam, vero nam sit, adipisci consequuntur, eaque voluptatibus optio molestias quos! Veniam, eaque laboriosam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores inventore deserunt atque voluptates vero est tempora odit commodi nulla nihil hic, ipsam esse qui minus voluptas corporis vel? Eius, sunt.</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>