<nav>
  <div class="title">
    <a href="/">Blog site</a>
    <p>Alivyn Site</p>
  </div>
  <li><a href="/">Blogs</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/blog/create">New Blog</a></li>
</nav>